body {
  font-family: Helvetica, sans-sans-serif;
  color: black;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
}

.header {
  display: block;
  background-image: url('../images/the-flatiron-building.png');
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}
